@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0 !important;
    padding: 0 !important;
}

body{
    background-color: #000;
}

tr{
    border: 2px solid red;
    padding: 15px !important;

}
th{
    border: 1px solid green;
    padding: 15px !important;
}

td{
    border: 2px solid pink;
    padding: 20px !important;
}