@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&family=Protest+Revolution&display=swap');
.containerBook{
    width: 80% !important;
    margin: 80px auto !important;
}

.containerBook h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 50px !important;
    color: #dbcaa7 !important;
}

.bookTitle p{
    width: 80% !important;
}


.bookGrid{
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
    width: 70%  !important;
    margin: auto !important;
}
.bookImage img{
    width: 809px !important;
    background-color: yellow;
}

.buttonBox{
    display: flex !important;
    align-items: center !important;
}

.buttonBox button{
    background-color: #dbcaa7 !important;
    padding: 15px !important;
}

.buttonSubmit{
    display: flex !important;
    align-items: center !important;
}