@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.navlist {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center;
    width: 40%;
    margin: auto;
}

.navlist li {
    color: #fff !important;
}

.ThumbnailMovie{
}

.ThumbnailMovie img{
    width: 100% !important;
}

.mainNavbar {
    background-color: #000;
    padding: 12px !important;
    display: flex;
    justify-content: center;
}

.brand {
    width: 10% !important;
}

.navbar {
    background-color: #000;
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
}

.banner {
    height: 600px !important;
}

.BannerContent {}

.BannerContent h1 {
    color: #fff !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 50px !important;
    line-height: 40px !important;
    font-weight: 600 !important;
}

.MovieDescription {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    width: 35% !important;
    margin-top: 20px !important;
}

.badge {
    border-right: 0.8px solid #fff;
    padding-right: 21px !important;
}

.badge p {
    color: #ffff !important;
}

.BtnPlay {
    background-color: #d81f25 !important;
    box-shadow: #d81f25 0px 5px 15px;
    padding: 9px 20px 11px 20px !important;
    border-radius: 4px;
    margin-top: 30px !important;
    color: #fff;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.ButtonBox {}


.VideoPlayer {
    height: 500px !important;
    width: 100% !important;
}


.PlayerBox {
    position: relative !important;
}


.CaraouselContent {
    width: 50% !important;
    position: absolute !important;
    z-index: 1 !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-60%, -50%);
}

.SwiperContainer {
    width: 98% !important;
    margin: auto !important;
}

.Heading {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.Heading h2 {
    color: #948e8e;
    font-family: 'Poppins', sans-serif !important;
    font-size: 30px !important;
    line-height: 30px !important;
    font-weight: 600 !important;
}

.mySwiper {
    cursor: pointer;
}

.SearchInput {
    color: #fff !important;
    border: 2px solid white;
    padding: 5px !important;

}

.searchBox{
    display: flex !important;
}

.searchBtn{
    border: 0.8px solid #fff !important;
    color: #fff !important;
    padding: 10px !important;
}

.Description{
    padding: 10px !important;
}

.Description p{
    color: #fff !important;
    font-size: 13px !important;
}

.Card{
    border: 0.85px solid #f2f2f2e3;
    margin: 5px !important;
    min-height: 300px !important;
    position: relative !important;
}

.publish{
    background-color: red;
    width: 35% !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    margin-left: 10px !important;
    border-radius: 40px !important;
    position: absolute !important;
    top: 7px;
    right: 7px;
}

.publish p{
    color: #fff !important;
    font-size:11px !important;
}

.ThumbnailDummy{
    
}